<div class="well center span10 offset1 top">
  <h1>All Report Cards</h1> 
</div>

<div class="row-fluid">
  <div class="span10 offset1 well bottom">
    <table id="projects" class="display">
      <thead>
        <tr>
          <th>Project name</th>
          <th>Services Member</th>
          <th>Job Score</th>
          <th>Technical Score</th>
          <th>Delivery Score</th>
          <th>Overall Score</th>
          <th>Total Points</th>
          <th>Comments</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% @tables.each do |report_card| %>
        <tr>
          <td><%= report_card["project_name"] %></td>
          <td><%= report_card["services_member"] %></td>
          <td><%= report_card["job_score"] %></td>
          <td><%= report_card["technical_score"] %></td>
          <td><%= report_card["delivery_score"] %></td>
          <td><%= report_card["overall_score"] %></td>
          <td class="center"><%= report_card["points"] %></td>
          <td><%= report_card["comments"] %></td>
          <td class="center"><%= button_to "Edit", edit_report_card_path(id: report_card["report_card_id"]), class: "btn btn-small", method: "get" %></td>
        </tr>
        <% end %>
      </tbody>
    </table> 
 </div>
</div>