<div class="well center span10 offset1 top">
  <h1><%= gravatar_for @user %> My Report Cards | <%= @user.name %></h1>
</div>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <table id="projects" class="display">
      <thead>
        <tr>
          <th>Project name</th>
          <th>Job Score</th>
          <th>Technical Score</th>
          <th>Delivery Score</th>
          <th>Overall Score</th>
          <th>Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @tables.each do |report_card| %>
        <tr>
          <td><%= report_card["project_name"] %></td>
          <td><%= report_card["job_score"] %></td>
          <td><%= report_card["technical_score"] %></td>
          <td><%= report_card["delivery_score"] %></td>
          <td><%= report_card["overall_score"] %></td>
          <td class="center"><%= report_card["points"] %></td>
        </tr>
        <% end %>
      </tbody>
    </table> 
 </div>
</div>

<div class="row-fluid">
  <div class="well span10 offset1 charts2">
    <%= column_chart @report_cards_array[:count], library: {title: "Report Card Breakdown by Project" , titleTextStyle: {fontSize: 20}, vAxis: {title: "Percent of Possible Points", textStyle: {fontSize: 20}},   hAxis: {title: "Project Name"}, height: 300}, colors: ["#345768"]%>
  </div>
</div>
<div class="row-fluid">
  <div class="well span10 offset1 charts bottom">
    <%= bar_chart @report_cards_array[:breakdown], library: {tooltip: {textStyle: {color: "#345768"}} ,title: "Report Card Breakdown by Category", titleTextStyle: {fontSize: 20}, vAxis: {title: "  Category", textStyle: {fontSize: 13}}, height: 700, hAxis: {title: "Count of Occurrences"}},  colors: ["#345768"]%>
  </div>
</div>
</div>