<div class="well center span10 offset1 top">
  <h1><%= gravatar_for @user %> My Report Cards | <%= @user.name %></h1>
</div>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <h3 class="center">Overall Report Card Table</h3>
    <table id="report_cards_overall" class="display">
      <thead>
        <tr>
          <th>Project name</th>
          <th>Job Score</th>
          <th>Technical Score</th>
          <th>Project Score</th>
          <th>Efficiency Score</th>
          <th>Total Points</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <% @report_cards_array[:tables].each do |report_card| %>
        <tr>
          <td><%= report_card["project_name"] %></td>
          <td><%= report_card["job_score"] %></td>
          <td><%= report_card["technical_score"] %></td>
          <td><%= report_card["project_score"] %></td>
          <td><%= report_card["efficiency_score"] %></td>
          <td class="center"><%= report_card["points"] %></td>
          <td><%= report_card["comments"] %></td>
        </tr>
        <% end %>
      </tbody>
    </table> 
 </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1 well">
    <h3 class="center">Detailed Report Card Table</h3>
    <table id="report_cards_detailed" class="display">
      <thead>
        <tr>
          <th>Project name</th>
          <th>Job Points</th>
          <th>Technical Points</th>
          <th>Project Points</th>
          <th>Efficiency Points</th>
          <th>Total Points</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <% @report_cards_array[:tables].each do |report_card| %>
        <tr>
          <td><%= report_card["project_name"] %></td>
          <td><%= report_card["job_array"] %></td>
          <td><%= report_card["technical_array"] %></td>
          <td><%= report_card["project_array"] %></td>
          <td><%= report_card["efficiency_score"] %></td>
          <td class="center"><%= report_card["points"] %></td>
          <td><%= report_card["comments"] %></td>
        </tr>
        <% end %>
      </tbody>
    </table> 
 </div>
</div>

<div class="row-fluid">
  <div class="well span10 offset1 charts2">
    <%= column_chart @report_cards_array[:overall], library: {title: "All Report Cards Medal Count", titleTextStyle: {fontSize: 20}, vAxis: {title: "Medal Count", textStyle: {fontSize: 20}}, height: 300, hAxis: {title: "Medal Type"}}, colors: ["#345768"] %>
  </div>
</div>

<div class="row-fluid">
  <div class="well span10 offset1 charts2">
    <%= column_chart @report_cards_array[:job], library: {title: "Job Medal Count", titleTextStyle: {fontSize: 20}, vAxis: {title: "Medal Count", textStyle: {fontSize: 20}}, height: 300, hAxis: {title: "Medal Type"}}, colors: ["#345768"] %>
  </div>
</div>
</div>

<div class="row-fluid">
  <div class="well span10 offset1 charts2">
    <%= column_chart @report_cards_array[:technical], library: {title: "Technical Medal Count", titleTextStyle: {fontSize: 20}, vAxis: {title: "Medal Count", textStyle: {fontSize: 20}}, height: 300, hAxis: {title: "Medal Type"}}, colors: ["#345768"] %>
  </div>
</div>

<div class="row-fluid">
  <div class="well span10 offset1 charts2">
    <%= column_chart @report_cards_array[:project], library: {title: "Project Medal Count", titleTextStyle: {fontSize: 20}, vAxis: {title: "Medal Count", textStyle: {fontSize: 20}}, height: 300, hAxis: {title: "Medal Type"}}, colors: ["#345768"] %>
  </div>
</div>

<div class="row-fluid">
  <div class="well span10 offset1 charts2 bottom">
    <%= column_chart @report_cards_array[:efficiency], library: {title: "Efficiency Medal Count", titleTextStyle: {fontSize: 20}, vAxis: {title: "Medal Count", textStyle: {fontSize: 20}}, height: 300, hAxis: {title: "Medal Type"}}, colors: ["#345768"] %>
  </div>
</div>
</div>
</div>
</div>