<div class="well center span10 offset1 top">
  <h1><%= gravatar_for @user %> ServeTrac | <%= @user.name %></h1>
</div>

<div class="well span10 offset1 bottom">
	<div class="offset2 span10" style="margin-top:2em; margin-bottom:2em;">
		<div class="well well_background span10 center"><h4><u><strong>Name:</strong></u></h4>
		<%= @user.name %>
		<h4><u><strong>Email:</strong></u></h4><%= @user.email %>
		<h4><u><strong>Team:</strong></u></h4><%= @user.team %>
	<br>
	<br>
		<%= link_to "Edit Account Information", edit_user_path(current_user), :class => "btn btn-primary btn-medium"%>
	</div>
</div>
</div>