<div class="well center span10 offset1 top">
  <h1>All Projects</h1> 
</div>

<div class="row-fluid">
  <div class="span10 offset1 well bottom">
    <table id="projects" class="display">
      <thead>
        <tr>
          <th>Project name</th>
          <th>Delivery Date</th>
          <th>Total Hours</th>
          <th>Spoilage</th>
          <th>PN</th>
          <th>SLA Accuracy</th>
          <th>Actual Accuracy</th>
          <th>Accuracy Score</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= project.project_name %></td>
          <td><%= project.delivery_date.inspect %></td>
          <td class="center"><%= project.hours %></td>
          <td class="center"><%= project.spoilage %></td>
          <td class="center"><%= project.project_number %></td>
          <td class="center"><%= project.sla_accuracy %></td>
          <td class="center"><%= project.accuracy %></td>
          <td class="center"><%= project.accuracy - project.sla_accuracy %></td>
          <td class="center"><%= button_to "Edit", edit_project_path(id: project.id), class: "btn btn-small", method: "get" %></td>
        </tr>
        <% end %>
      </tbody>
    </table> 
 </div>
</div>