<div class="topbar navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <%= link_to "ServeTrac", "/home", class: "top-bar-name"%>
    <div class="pull-right">
      <ul class="nav">
        <% if signed_in? %>
          <li><%= link_to "Home", "/home"%></li>
          <li><%= link_to "Help", "#"%></li>
          <li><%= link_to "Sign Out", "/sign_out"%></li>
        <% else %>
          <li><%= link_to "Sign Up", "/sign_up"%></li>
          <li><%= link_to "Home", "/home"%></li>
          <li><%= link_to "Help", "#"%></li>
          <li><%= link_to "Sign In", "/sign_in"%></li>
        <% end %>
      </ul>
	</div>
  </div>
</div>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>