<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "http://code.highcharts.com/modules/drilldown.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://code.highcharts.com/highcharts-more.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "http://code.highcharts.com/modules/solid-gauge.src.js", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="row-fluid">
      <%= render 'layouts/top_bar' %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> center"><%= value %></div>
      <% end %>
    <div class="full">
    <%= yield %> 
    </div>
  </div>
  </body>
</html>
